@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 10;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem; 
  color: #3f396d;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  gap: 1.8rem;
  list-style: none;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fca61f;
}

.contact-btn {
  width: 150px;
  height: 60px;
  padding: 0.5rem 1rem;
  background-color: #fca61f;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #2e2a54;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.8rem;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #ffffff;
    flex-direction: column;
    width: 80%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9;
    margin-left: 45px;
  }

  .nav-menu.show {
    display: flex;
  }

  .nav-link {
    padding: 0.8rem;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    font-size: 1rem;
  }

  .nav-link:last-child {
    border-bottom: none;
  }

  .menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #3f396d;
    margin-right: -20px; 
  }

  .menu-icon.close {
    font-size: 2.5rem; 
    color: #ff4d4d; 
  }

  .contact-btn {
    display: none;
  }
}

/*--------------- Home ---------------*/
.home {
  width: 100%;
  height: 90vh; 
  background: linear-gradient(33deg, #f2f2ff 0%, #ebf9ff 100%);
  padding: 50px 0px 10px 30px; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box; 
}

.home-row {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.home-content {
  max-width: 100%; 
  padding-left: 40px; 
}

.home h2 {
  color: #333;
  font-size: 4.2rem;
  line-height: 5rem;
  font-weight: 700;
  margin-left: 20px; 
  max-width: 100%;
  animation: slideFromLeft 1s ease-out forwards;
}

.highlight-text {
  color: #fca315;
  font-weight: bold; 
}

.home p {
  width: fit-content;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #333; 
  margin-left: 20px; 
  animation: slideFromLeft 1.2s ease-out forwards; 
}

.h-btn {
  width: 170px;
  height: 70px;
  background: #2e2a54;
  color: white;
  padding: 15px 30px; 
  font-size: 1.4rem; 
  font-weight: 600; 
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 8%;
  margin-left: 20px; 
  transition: background 0.3s, transform 0.3s;
}

.h-btn:hover {
  background: #fca61f;
  transform: translateY(-20px);
  transition-duration: 1s;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #2e2a54;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 20px;
  background-color: #2e2a54;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home img {
  animation: floatimg 4s ease-in-out infinite;
  max-width: 70%;
  height: auto;
  margin-right: 15%;
  object-fit: cover;
  display: block;
  margin-left: auto; 
}

@keyframes floatimg {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-24px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1; 
  }
}

@media screen and (max-width: 767px) {

  .home {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto; 
  }

  .home img {
    max-width: 70%;
    margin: 20px auto; 
  }

  .home h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
  }

  .highlight-text {
    font-size: 2.5rem;
  }

  .home p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 1rem 0;
    text-align: center;
  }

  .h-btn {
    width: 60%; 
    height: 50px;
    font-size: 1.2rem;
    margin: 20px auto;
  }

  .home-row {
    flex-direction: column;
    align-items: center;
  }

  .home-content {
    max-width: 100%;
    padding-left: 0;
    text-align: center;
  }
}

/*---------------- Experties ---------------*/
.expertise {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}

.expertise .heading {
  text-align: center;
}

.expertise .heading small {
  color: #2e2a54;
  font-size: 2.5rem;
  font-weight: bold;
}

.expertise .heading h3 {
  font-size: 3.2rem; 
  color: #333;
  font-weight: 700;
  margin-top: 10px;
}

.service-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 3rem;
}

.service-card {
  width: 30%; 
  background-color: transparent; 
  padding: 0; 
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; 
  transform: translateY(50px); 
}

.service-card.visible {
  opacity: 1;
  transform: translateY(0); 
  animation: fadeInUp 0.6s ease-out forwards;
}

.service-card .icon-circle {
  width: 150px;
  height: 150px;
  background-color: #fca61f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
}

.service-card .icon-circle svg {
  color: #fff; 
  font-size: 3rem; 
}

.service-card .content h4 {
  font-size: 1.8rem; 
  color: #333;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.service-card .content p {
  color: #777;
  font-size: 1.2rem; 
  margin: 1rem 0;
}

.service-card .content .link {
  color: #ff5722;
  text-decoration: underline;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.service-card:hover {
  transform: scale(1.05);
  opacity: 1;
}

.service-card img {
  max-width: 50%; 
  height: auto;
  border-radius: 8px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .service-card {
    width: 90%; 
    margin: 1rem auto;
  }

  .expertise .heading small {
    color: #2e2a54;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .expertise .heading h3 {
    font-size: 2.2rem; 
  }

  .service-card img {
    max-width: 70%; 
  }
}

.heading, .heading p, .c-btn {
  opacity: 0;
  transform: translateX(50px);
  animation: slideInRight 0.8s forwards;
}

/*--------------- Skill ---------------*/
.skill {
  background-color: rgb(234, 234, 249);
  padding: 50px 0;
  text-align: center;
  margin-top: -50px;
}

.skill .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-detail {
  padding: 20px; 
  color: #333; 
  text-align: left;
  max-width: 600px; 
}

.skill-detail small {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #2e2a54;
}

.skill-detail h3 {
  font-size: 3.2rem;
  font-weight: 700;
  max-width: 90%;
  color: #333; 
  display: block;
  line-height: 4rem;
}

.skill-detail p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333; 
  margin-bottom: 15px;
}

.skill-detail p.text-muted {
  color: #6c757d; 
}

.progress-card {
  width: 280px;
  height: 250px;
  padding: 25px;
  background-color: #fff;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 10px; 
}

.progress-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.circular-progress.html-css {
  background: conic-gradient(#ff8c00 324deg, #ededed 0deg);
}

.circular-progress.javascript {
  background: conic-gradient(#0a5516 270deg, #ededed 0deg);
}

.circular-progress.php {
  background: conic-gradient(#3f396d, 288deg, #ededed 0deg);
}

.circular-progress.reactjs {
  background: conic-gradient(#c1eb2b 216deg, #ededed 0deg);
}

.circular-progress {
  position: relative;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: conic-gradient(#2e2a54, 3.6deg, #ededed 0deg); 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #fff;
}

.progress-value {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  text-align: left;
  padding-left: 15px;
}

.c-btn {
  width: 200px;
  height: 60px;
  display: inline-block;
  padding: 10px 20px;         
  color: #fff;              
  background-color: #fca61f;   
  border: none;                
  font-size: 1.3rem;           
  cursor: pointer;   
     
  text-align: center;           
  text-decoration: none;      
  transition: background-color 0.3s ease; 
}

.c-btn:hover {
  background-color: #2e2a54;   
}

@media (max-width: 768px) {
  .progress-card {
    width: 240px; 
    height: 40%;
    padding: 10px; 
    margin-left: 20px;
  }

  .circular-progress {
    position: relative;
    height: 150px;
    width: 150px;
  }

  .circular-progress::before {
    height: 130px;
    width: 130px;
  }

  .c-btn {
    width: 180px;
    height: 50px;
    font-size: 1rem; 
    padding: 10px 25px; 
  }

  .skill .heading small {
    font-size: 1.8rem;
  }

  .skill .heading h3 {
    font-size: 2.2rem; 
    line-height: 2.5rem;
    margin-bottom: 10px;
  }

  .heading p {
    font-size: 1rem; 
    max-width: 100%;
  }

  .skill .row {
    gap: 10px; 
  }

  .skill-detail {
    max-width: 100%; 
  }
}

/*--------------- Portfolio ---------------*/
.portfolio {
  background-color: #f8f9fa;
  padding-top: 4rem;
}

.portfolio .heading {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 40px;
}

.portfolio .heading small {
  font-size: 2.5rem;
  margin-top: -50px;
  font-weight: bold;
  color: #3f396d;
}

.portfolio .heading h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #333;
}

#myBtnContainer {
  margin-top: 20px;
}

.filter-item {
  background-color: transparent;
  border: 2px solid  #ff5722;
  color:  #ff5722;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-item:hover,
.filter-item:focus {
  background-color: #3f396d;
  color: #fff;
  outline: none;
}


.portfolio-body .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto; 
  max-width: 100%; 
}

.post {
  flex: 1 1 300px;
  max-width: 100%; 
  margin: 5px;
  margin-top: 20px;
}

.card {
  width: 100%;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px #0000001a;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 2px solid  #3f396d;
}

.card-body {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.badge {
  background-color: #6c757d;
  color: #fff;
  padding: 5px 12px;
  margin: 3px;
  font-size: 0.9rem;
  border-radius: 12px;
}

.badge-pill {
  border-radius: 50px;
}

.link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color:  #ff5722;
  font-weight: 600;
  transition: color 0.3s;
}

.link:hover,
.link:focus {
  color: #3f396d;
  text-decoration: underline;
}

@media (max-width: 769px) {

  .portfolio .heading small {
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  .portfolio .heading h3 {
    font-size: 2.2rem;
    font-weight: 700;
  }

  .filter-item {
    padding: 8px 16px;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .post {
    flex: 1 1 45%;
  }
}

/* ------------------Testimonial ------------------*/
.testimonial {
  width: 100%;
  height: 80vh;
  background: linear-gradient(33deg, #f2f2ff 0%, #ebf9ff 100%);
  padding-top: 2rem;
  overflow-x: hidden;
  margin-top: 50px;
}

.testimonial .testimonial-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 1.5rem;
  justify-content: flex-start;
}

.testimonial .image-section {
  width: 70%;
  margin-left: 80px;
  margin-top: -35px;
}

.testimonial .testimonial-content {
  width: 90%;
  text-align: left;
  margin-left: 0;
  padding-top: 2.5rem;
}

.testimonial .testimonial-content h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2d2d2d;
  margin-top: 1.2rem;
  text-align: left;
}

.testimonial .heading small {
  font-size: 2rem;
  font-weight: bold;
  color: #fca61f;
  display: block;
  margin-bottom: -20px;
  text-align: left; 
}

.testimonial .heading h3 {
  font-size: 2.3rem;
  font-weight: 700;
  color: #2d2d2d;
  margin-top: 1rem;
  text-align: left; 
}

.testimonial-content p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555;
  line-height: 1.6;
  max-width: 90%;
  margin-bottom: 1rem;
  text-align: left;
  margin-top: -30px;
}

.testimonial .controls {
  display: flex;
  gap: 1.25rem;
  justify-content: flex-start;
  margin-top: 1.5rem;
  padding-top: 30px;
}

.testimonial .controls button {
  background-color: #fca61f;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  cursor: pointer;
}

.testimonial .controls button:hover {
  background-color: #6c757d;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 767px) {

  .testimonial {
    height: auto;
    padding-top: 1rem;
    text-align: center; 
  }

  .testimonial .testimonial-container {
    flex-direction: column; 
    padding: 1rem;
    align-items: center; 
    justify-content: center;
  }

  .testimonial .image-section {
    width: 90%; 
    margin: 0 auto 1rem; 
  }

  .testimonial-content {
    width: 100%; 
    text-align: center; 
    margin-top: -20px;
  }

  .testimonial .heading small {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
  }

  .testimonial .heading h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center; 
  }

  .testimonial-content p {
    font-size: 1rem;
    max-width: 100%;
    text-align: center;
    margin-top: -20px;
    margin-left: 20px;
  }

  .testimonial .controls {
    justify-content: center;
    margin-top: 1.25rem;
  }

  .testimonial .controls button {
    margin: 0.3rem; 
  }

  .testimonial .testimonial-content h4 {
    text-align: center;
  }
}

/* ----------------- Blog ---------------*/

.blog {
  margin-top: 1rem;
  padding-bottom: 5rem;
  overflow-x: hidden; 
}

.blog .container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 1rem;
}

.blog .heading {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
}

.blog .heading small {
  display: block;
  font-size: 2.5rem;
  color: #3f396d;
  font-weight: 600;
}

.blog .heading h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.blog .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
  margin-top: 3rem;
  max-width: 100%; 
}

.blog .blogpost {
  position: relative;
  margin-top: -20px;
}

@media (max-width: 1024px) {
  .blog .row {
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .blog .row {
    grid-template-columns: 1fr; 
    gap: 1rem;
  }

  .blog .heading small {
    display: block;
    font-size: 1.8rem;
  }
  

  .blog .heading h3 {
    font-size: 2.2rem;
    font-weight: 700;
  }
}

/*------------------- Contact -----------------------*/
.contact {
  padding: 5rem 0;
  background-color: #eaeaf9;
}

.contact .col-1 svg {
  color: #fca61f;
  font-size: 1.5rem;
  margin-left: 140px;
  margin-top: 25px;
  margin-right: 10px;
}

.contact .col-11 p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #777;
  margin: 0;
  text-align: left;
  margin-top: 25px;
}

.heading small {
  font-size: 2.5rem;
  color: #2e2a54;
  display: block;
  font-weight: bold;
}

.heading h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #333;
  margin-top: 0.5rem;
}

.contact-details p {
  font-size: 1.5rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 160%;
  padding: 1.1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.contact-form button {
  width: 90%;
  background-color: #fca61f;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;            
  justify-content: center;    
  align-items: center;        
}

.contact-form button:hover {
  background-color: #2e2a54;
}

.contact-form .email,
.contact-form .phone {
  margin-top: 1.2rem;
}

.contact-form .message {
  text-align: right;
  margin-top: 2rem;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .contact {
    padding: 4rem 0;
  }

  .contact .contact-form {
    padding: 1rem;
    margin-left: -50px;
    width: 160%;
    height: auto;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .contact-form button {
    width: 100%;
    padding: 0.9rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .contact-form .message {
    text-align: center;
    margin-top: 1.2rem;
  }

  .contact .heading h3 {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
  }

  .contactv.heading small {
    font-size: 1.8rem;
    display: block;
    text-align: center;
    margin-top: -30px;
  }

  .contact .contact-details {
    margin-right: 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .contact-details p {
    font-size: 1.5rem;
    color: #555;
    line-height: 1.6;
  }
  .contact .row {
    flex-direction: column;
    align-items: center;
  }

  .contact .col-1 svg {
    font-size: 1rem;
    margin-left: 0;
    text-align: center;
  }

  .contact .col-11 p {
    font-size: 1.2rem ;
    text-align: center;
  }

  #btn-back-to-top {
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
  }
}

/*--------------- Footer ---------------*/
footer {
  background-color: #2e2a54;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer h3 {
  font-size: 3.2rem;
  font-weight: bold;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5rem;
}

footer a:hover {
  color: #fca61f;
}

footer .link-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

footer .social-links {
  margin-top: 30px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

footer .social-links button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  font-size: 30px; 
  transition: background-color 0.3s ease;
}

footer .social-links button:hover {
  background-color: #fca61f;
}

footer .vr {
  border-left: 1px solid #fff;
  height: 20px;
}

#btn-back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #fca61f;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

#btn-back-to-top:hover {
  background-color: #6c757d;
}

footer hr {
  border-top: 1px solid #fff;
  width: 80%;
  margin: 30px auto;
}

@media (max-width: 768px) {
  footer {
    padding: 15px 0; 
  }

  footer h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  footer a {
    text-decoration: none;
    font-size: 1.2rem;
  }

  footer .link-group {
    flex-direction: column; 
    gap: 10px;
  }

  footer .social-links button {
    font-size: 16px; 
    padding: 6px;
    margin: 5px;
  }

  footer hr {
    width: 100%;
  }

  #btn-back-to-top {
    display: none; 
    position: fixed;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
